* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Tahoma, sans-serif;

}

header {
    background-color: rgb(10, 80, 10);
}
#topo {
    padding: 10px 15px;
    overflow: hidden;
    display: flex;                 
    justify-content: space-between; 
    align-items: center;           
}

#topo h1 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
}

header h1 {
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 3px;
    line-height: 70px;
    width: fit-content;
    padding: 5px 0;
}
header img {
    margin: 10px 30px 0px 0;
    border: #CCC solid 2px;
}

.bandeira {
    max-width: 120px;
    height: auto;
}

.banner-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border: #222522 solid 3px;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

#carouselExample {
    max-width: 800px;
    margin: 0 auto;
}

main h2 {
    text-align: left;
    color: #b10000;
    font-size: 26px;
    padding: 10px 0;
    
}

main p {
    padding-top: 30px;
    font-size: 20px;
}

#video {
    margin-bottom: 30px;
}
#video iframe{
    margin: 20px auto;
    max-width: 650px;
    display: block;
    border: 4px solid #404040;
    border-radius: 5px;
}

#historia {
    color: #FFF;
}

#historia p {
    font-size: 18px;
}

#destaque {
    padding: 20px;
}

#destaque p {
    padding: 10px 0;
}

#destaque img{
    border: #222522 solid 3px;
    border-radius: 10px;
    margin-right: 19px;
    max-width: 750px;
}

nav {
    background-color: #b10000;

}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

nav ul li {
    padding-left: 60px;
    padding-right: 60px;
}

nav ul li a {
    font-size: 20px;
    font-family: Arial;
    text-decoration: none;
    width: fit-content;
    display: block;
    text-align: center;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
}

.nav-link {
    white-space: nowrap;
}

nav ul li a:hover {
    background-color: #770101;
    color: #ffeded;
    font-weight: bold;
    width: fit-content;
    border-radius: 5px;

}

.sobre{
    margin: 5px auto;
    text-align: justify;
}

#fotos img{
    border: #000 solid 3px;
    border-radius: 10px;

}

.cultura {
    padding-left: 150px;
}

.cultura img {
    border: #000 solid 3px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    float: left;
}

.cultura p {
    margin-bottom: 250px;
}

table {
    border-collapse: collapse;
    width: 600px;
    margin: 30px auto;
    height: 450px;
}

table, th, td {
  border: 1px solid black;
  
}

th, td {
    padding-left: 10px;
}


.geral {
    margin-left:100px;
    margin-bottom: 40px;
}

footer {
    background-color: #b10000;
    text-align: center;
    color: #FFF;
    padding: 30px;
    font-size: 18px;
    width: 100%;
}

footer p {
    text-align: center;
    font-weight: bold;
    color: #FFF;
    padding-bottom: 10px;
}